<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table style="border: 1px">
    <table border="1">
        <tr>
          <th>发起人</th>
            <th>邮件类型</th>
            <th>时长(小时)</th>
            <th>原因说明</th>
        </tr>
        <tr>
            <td>${userFrom}</td>
            <td>${subject}</td>
            <td>${hours}</td>
            <td>${content}</td>
        </tr>
    </table>
</table>
</body>
</html>